/* CSS declarations go here */
.item {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #ccc;
  border: 1px dashed #aaa;
  width: 65%;
  cursor: move;
}
.goal {
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: #ccc;
  border: 1px solid #aaa;
  width: 200px;
  cursor: move;
}
.myheader{
	display: block;
	padding: 5px;
}
.footer{
  text-align: center;
}
#login-dropdown-list {
  position: absolute;
  top: 0;
  left: 0%;
  margin-top: -5px;
  margin-left: 50%;

}