/* CSS declarations go here */
.item {
  display: inline-block;
  padding: 5px;
  margin: 25px;
  background-color: #ccc;
  border: 1px dashed #aaa;
  width: 50%;
  cursor: move;
}
#goals {
  display: block;
  padding: 5px;
  margin: 5px;
  margin-top: 5px;
  background-color: #55f;
  border: 5px solid #aaf;
  width: 95%;
  cursor: move;
  containment: parent;
}
.myheader{
	display: block;
	padding: 5px;
}
.footer{
  text-align: center;
}
#login-dropdown-list {
  display: inline-block;
  position: absolute;
  top: 230;
  left: center;
  margin-top: 10px;
  margin-left: 10px;

}

.navbar-inverse {
    min-height: 40px;
}

.navbar-collapse {
  max-height: 940px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}