<template name="nav">
  <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
        {{> navBrand}}
      </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {{> navItems}}        
        <div class="nav navbar-nav navbar-right">
          <li > {{> loginButtons  align="center"}} </li>
        </div>
      
      </ul>
    </div>
  </div>
</nav>
</template>

<template name="navBrand">
  <a class="navbar-brand" href="#">Zen Planner</a>
</template>

<template name="navItems">

  <li class="{{ activeIfTemplateIs 'home' }}"><a href="/">Home</a></li>
   {{#if currentUser}}
      <li class="{{ activeIfTemplateIs 'goals'   }}"><a href="{{pathFor 'goals'  }}">Goals</a></li>
      <li class="{{ activeIfTemplateIs 'plans'   }}"><a href="{{pathFor 'plans'  }}">Plans</a></li>
      <li class="{{ activeIfTemplateIs 'actions' }}"><a href="{{pathFor 'actions'}}">Actions</a></li>
  
      {{#if isInRole 'admin,manage-users'}}
                <li class="{{ activeIfTemplateIs 'manage' }}"><a href="{{pathFor 'manage'}}">Manage Users</a></li>
      {{else}}
        <li>My Profile</li>
      {{/if}}        
  {{else}}
      <li>&nbsp;</li>      
  {{/if}}

  
</template>